<% @question_no = @question_no + 1 if f.object.id && f.object.question_type_id != :label -%>
<%= content_tag(:div, f.object, class: f.object.class.name.underscore, id: "#{f.object.class.name.underscore}_#{f.object.try(:id)}") do %>
    <fieldset class="
    fields
    questions
    <%= f.object.is_mandatory ? 'mandatory_questions' : 'optional_questions' %>
    <%= !@survey_locked && (f.object.modifiable) ? '' : 'not_modifiable' %>"
    >
        <div class="inner_question">
            <!-- if dependencies, notify the user with a highlighted message at the top of the question -->
            <% if f.object.dependent? -%>
        <span class="question_logic_notifier">
          <!-- list_dependencies tells the user which other questions determine whether this one is displayed -->
            <%= list_dependencies(f.object) if f.object.dependency %>.<br/>
        </span>
            <% end -%>

            <!-- display the button bar unless a user has already submitted responses, thus locking the survey, or   -->
            <!-- the survey is explicitly marked not modifiable (e.g., an administrator locks it).                   -->
            <% if !@survey_locked && (f.object.modifiable?) -%>

                <% unless params[:action] == "show" %>
                    <span class="fl ui-icon ui-icon-arrowthick-2-n-s"></span>
                <% end %>

                <span class="question_button_bar">


            <%= link_to "Edit Question", surveyor_gui.edit_question_url(f.object), class: "btn btn-primary" %>

                    <button type="button" id="cut_question" class="btn btn-primary"
                            data-cut_question_surveyform_url="<%=surveyor_gui.cut_question_surveyform_url(
                                                                     id:           f.object.survey_section.survey.id,
                                                                     question_id:  f.object.id)%>"
                            data-question_already_cut="<%= session[:cut_question] %>"
                    >Cut Question</button>

          <button type="button" id="delete_question" class="btn btn-primary"
                  data-question_url="<%=surveyor_gui.question_url(f.object.id)%>"
                  data-replace_form_surveyform_url="<%= surveyor_gui.replace_form_surveyform_url(
                                                            id:                 f.object.survey_section.survey.id,
                                                            survey_section_id:  f.object.survey_section_id) %>"
          >Delete Question</button>

          <span style="float:right;">

            <% if f.object.dependent? -%>

              <button type="button" id="delete_logic" class="btn btn-primary"
                      data-replace_question_url="<%=surveyor_gui.replace_question_surveyform_path(:question_id => f.object.id)%>"
                      data-dependency_url="<%= surveyor_gui.dependency_url(f.object.id) %>"
                      data-question_id="<%= f.object.id.to_s %>"
              >Delete Logic</button>

              <button type="button" id="edit_logic" class="btn btn-primary"
                      data-url="<%= surveyor_gui.edit_dependency_url(f.object.id) %>"
              >Edit Logic</button>

            <% elsif f.object.survey_section.survey.questions.count > 1 -%>
                <button type="button" id="add_logic" class="btn btn-primary"
                        data-url="<%= surveyor_gui.new_dependency_url(:id=>f.object.id) %>"
                >Add Logic</button>
            <% end %>

          </span>
        </span>

            <% end %>

            <div class="questions">
                <%= render "surveyor_gui/surveyforms/question_name_and_number", question_type: f.object.question_type, text: f.object.text %>
                <%= render "surveyor_gui/surveyforms/question_field", f: f %>
            </div>
        </div>
    </fieldset>

    <% if !@survey_locked && (f.object.modifiable?) -%>

        <div class="question_buttons_bottom">

            <%= link_to "Add Question", surveyor_gui.new_question_url(survey_section_id: f.object.survey_section.id, prev_question_id: f.object.id), class: "cut btn btn-primary add-question"  %>

            <% if session[:cut_question] -%>

                <button type="button" id="paste_question" class="btn btn-primary"
                        data-paste_question_surveyform_url="<%= surveyor_gui.paste_question_surveyform_url(
                                                                    id:           f.object.survey_section.survey.id,
                                                                    question_id:  f.object.id) %>"
                >Paste Question</button>

            <% end %>

        </div>

    <% end %>
<% end %>