= simple_fields_for 'surveyform', @surveyform || @survey_section.survey do |f|
  = f.simple_fields_for :survey_sections, @survey_section do |s|
    - if s.object.id
      = content_tag(:div, s.object, class: s.object.class.name.underscore, id: "#{s.object.class.name.underscore}_#{s.object.try(:id)}") do
        %h2{:style => "position:relative;"}

          - unless params[:action] == "show"
            %span{style: "font-size:20px;margin:15px 10px 0 0"}
              %i.fa.fa-bars
              &nbsp
          %span{id: "sectionTitle#{s.object.id}"}= s.object.title

          .section_top_button_bar

            - if !@survey_locked && (s.object.modifiable?)

              %a.btn.btn-primary#edit_section_title{"data-url" => "#{surveyor_gui.edit_survey_section_url(s.object.id)}", :href => "javascript: void(0)"} Edit Section Title

              - if session[:cut_section]
                %button.btn.btn-primary#paste_section{"data-paste_section_surveyform_url" => surveyor_gui.paste_section_surveyform_url(survey_section_id: s.object.id, position: 'over'), :type => "button"} Paste Section
              - else
                %button.btn.btn-primary#cut_section{"data-cut_section_surveyform_url" => surveyor_gui.cut_section_surveyform_url(id: f.object.id, survey_section_id: s.object.id), "data-section_already_cut" => session[:cut_section], "data-survey_section_id" => s.object.id, "data-survey_section_title" => s.object.title, :type => "button"} Cut Section
              %button.btn.btn-primary#delete_section{"data-survey_section_id" => s.object.id, "data-survey_section_url" => surveyor_gui.survey_section_url(s.object.id), "data-survey_section_title" => s.object.title, :type => "button"} Delete Section

        %fieldset{:style => "background:white"}
          .fields.surveysection
            = s.hidden_field :id
            = s.hidden_field :modifiable
            - if !@survey_locked && (s.object.modifiable?)

              .question_buttons_top
                = link_to "Add Question", surveyor_gui.new_question_url(survey_section_id: s.object.id), class: "btn btn-primary add-question"

                - if session[:cut_question]
                  %button.btn.btn-primary#paste_question{"data-paste_question_surveyform_url" => surveyor_gui.paste_question_surveyform_url(id: f.object.id, survey_section_id:  s.object.id), :type => "button"} Paste Question
            %div{:id => "sortable_question#{s.object.id.to_s}", class: ("sortable_questions" unless params[:action] == "show")}
              = s.simple_fields_for :questions do |q|
                = render_questions_and_groups_helper q, s
            - if !@survey_locked && s.object.modifiable
              .button_bar_outer
                .section_button_bar_bottom_inner
                  %button.btn.btn-primary#add_section{"data-url" => surveyor_gui.new_survey_section_path(survey_id: f.object.id, prev_section_id: s.object.id), :type => "button"} Add Section
                  - if session[:cut_section]
                    %button.btn.btn-primary#paste_section{"data-paste_section_surveyform_url" => surveyor_gui.paste_section_surveyform_url(:survey_section_id => s.object.id), :type => "button"} Paste Section
    - else
      = s.hidden_field :id
      = s.hidden_field :title
      = s.hidden_field :display_order
      = s.hidden_field :modifiable
      = s.simple_fields_for :questions do |q|
        = q.hidden_field :id
        = q.hidden_field :text
        = q.hidden_field :display_order
        = q.hidden_field :pick
        = q.hidden_field :display_type
        = q.hidden_field :question_group_id
        = q.hidden_field :modifiable
        = q.simple_fields_for :answers do |a|
          = a.hidden_field :text
          = a.hidden_field :response_class
          = a.hidden_field :display_order