= simple_fields_for 'surveyform', @surveyform || @survey_section.survey do |f|
  = f.simple_fields_for :survey_sections, @survey_section do |s|
    - if s.object.id
      = div_for(s.object) do
        %h2{:style => "position:relative;"}
          %span.fl.ui-icon.ui-icon-arrowthick-2-n-s
          &nbsp
          %span{id: "sectionTitle#{s.object.id}"}= s.object.title

          .section_top_button_bar

            - if !@survey_locked && (s.object.modifiable?)

              %a.btn.btn-primary#edit_section_title{"data-url" => "#{surveyor_gui.edit_survey_section_url(s.object.id)}", :href => "javascript: void(0)"} Edit Section Title

              - if session[:cut_section]
                %button#paste_section{"data-paste_section_surveyform_url" => surveyor_gui.paste_section_surveyform_url(survey_section_id: s.object.id, position: 'over'), :type => "button"} Paste Section
              - else
                %button#cut_section{"data-cut_section_surveyform_url" => surveyor_gui.cut_section_surveyform_url(id: f.object.id, survey_section_id: s.object.id), "data-section_already_cut" => session[:cut_section], "data-survey_section_id" => s.object.id, :type => "button"} Cut Section
              %button#delete_section{"data-survey_section_id" => s.object.id, "data-survey_section_url" => surveyor_gui.survey_section_url(s.object.id), :type => "button"} Delete Section

        %fieldset{:style => "background:white"}
          .fields.surveysection
            = s.hidden_field :id
            = s.hidden_field :modifiable
            - if !@survey_locked && (s.object.modifiable?)
              .question_buttons_top
                %button#add_question.cut{"data-insert_new_question_url" => surveyor_gui.insert_new_question_surveyform_url(f.object.id), "data-new_question_url" => surveyor_gui.new_question_url, :type => "button"} Add Question
                - if session[:cut_question]
                  %button#paste_question{"data-paste_question_surveyform_url" => surveyor_gui.paste_question_surveyform_url(id: f.object.id, survey_section_id:  s.object.id), :type => "button"} Paste Question
            .sortable_questions{:id => "sortable_question#{s.object.id.to_s}"}
              = s.simple_fields_for :questions do |q|
                = render_questions_and_groups_helper q, s
            - if !@survey_locked && s.object.modifiable
              .button_bar_outer
                .section_button_bar_bottom_inner
                  %button.btn.btn-primary#add_section{"data-url" => surveyor_gui.new_survey_section_path(survey_id: f.object.id, prev_section_id: s.object.id), :type => "button"} Add Section
                  - if session[:cut_section]
                    %button#paste_section{"data-paste_section_surveyform_url" => surveyor_gui.paste_section_surveyform_url(:survey_section_id => s.object.id), :type => "button"} Paste Section
    - else
      = s.hidden_field :id
      = s.hidden_field :title
      = s.hidden_field :display_order
      = s.hidden_field :modifiable
      = s.simple_fields_for :questions do |q|
        = q.hidden_field :id
        = q.hidden_field :text
        = q.hidden_field :display_order
        = q.hidden_field :pick
        = q.hidden_field :display_type
        = q.hidden_field :question_group_id
        = q.hidden_field :modifiable
        = q.simple_fields_for :answers do |a|
          = a.hidden_field :text
          = a.hidden_field :response_class
          = a.hidden_field :display_order