
#survey
  %h1= @title

    %p
    = link_to "New Survey", new_surveyform_path(), class: "btn btn-primary"
    &nbsp
    = link_to "Take a Survey", surveyor.available_surveys_path, class: "btn btn-primary"

  = form_tag surveyforms_path, :method => 'get' do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil

  = will_paginate
  %br/
  %table.table.table-striped
    %tr
      %th Title
      %th Version
      %th Actions
    - for survey in @surveyforms
      %tr
        %td= survey.title
        %td= survey.survey_version
        %td
          = link_to "Show", survey
          &nbsp
          = link_to "Edit", edit_surveyform_path(survey)
          &nbsp
          = link_to "Clone", clone_survey_surveyform_path(survey)
          &nbsp
          = link_to "Destroy", survey, data: { confirm: 'Are you sure?' }, :method => :delete
          = link_to "Run Report", report_path(survey)
          = link_to "View Responses" , responses_path(id: survey)
  %br/
  = will_paginate