
#survey
  %h1= @title

  %p
    = link_to "New Survey", new_surveyform_path(), class: "btn btn-primary"
    &nbsp
    = link_to "Take a Survey", surveyor.available_surveys_path, class: "btn btn-primary"

  = form_tag surveyforms_path, :method => 'get' do
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search", :name => nil

  = will_paginate
  %br/
  %table.table.table-striped
    %tr
      %th Title
      %th Version
      %th
        Users
        %br
        Assigned
      %th
        Questions
        %br
        w/answers
      %th Actions
    - for survey in @surveyforms
      %tr
        %td= survey.title
        %td= survey.survey_version
        %td= survey.response_sets.count
        %td= survey.response.count
        %td
          = link_to "Show", survey, class: "btn btn-sm btn-primary"
          = link_to "Edit", edit_surveyform_path(survey), class: "btn btn-sm btn-primary"
          = link_to "Clone", clone_survey_surveyform_path(survey), class: "btn btn-sm btn-primary"
          = link_to "Delete", survey, data: { confirm: 'Are you sure you want to delete? ALL responses will be DELETED!!!!' }, :method => :delete, class: "btn btn-sm btn-primary"
          = link_to "Report", report_path(survey), class: "btn btn-link"
          = link_to "Responses" , responses_path(id: survey), class: "btn btn-link"

          - if (!Rails.env.production? && survey.response_sets.count > 0) || (Rails.env.production? && survey.response_sets.count < 2)
            = link_to "Delete ALL responses", surveyor_gui.destroy_all_responses_url(survey_id: survey.id), data: { confirm: 'Are you sure?  This will permanently delete ALL responses to this survey!' }, :method => :delete, class: "btn btn-link"
  %br/
  = will_paginate