.modal-dialog{:role => "document"}
  .modal-content
    .modal-header
      %h5#exampleModalLongTitle.modal-title= @title
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×

    = simple_form_for @survey_section do |f|
      .modal-body
        - @survey_section.errors.full_messages.each do |msg|
          %p= msg
        = f.hidden_field :survey_id
        = f.hidden_field :modifiable
        = f.hidden_field :display_order
        = f.input :title , :input_html=>{:size=>'35'}

      .modal-footer
        = f.button :submit, 'Save Changes', data: { "ajax-target" => section_form_target_url, "ajax-handler" => form_handler, "ajax-error-handler" => "modalErrorHandler", "ajax-error-target" => "#modal", disable_with: "Please wait..." }
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close