%hr/

= simple_form_for @questions do |f|

  %h3 Possible answers for question

  #answers.sortable
    - answers = f.object.answers.is_not_other_omit_comment.size == 0 ? f.object.answers.is_not_other_omit_comment.to_a << Answer.new : f.object.answers.is_not_other_omit_comment
    = f.simple_fields_for :answers, answers do |a|
      = render "surveyor_gui/questions/answer_fields", f: a

    .links
      = link_to_add_association "<i class='fa fa-plus' style='font-size:16px;margin-right:5px'></i>Add Another Option".html_safe, f, :answers
    = render 'surveyor_gui/questions/answer_options', f: f
